/* General */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,900;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Source Sans Pro;
    color: rgb(5, 11, 19);
}


.row {
    margin: 0;
}


/* Navbar */

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    color: #000000;
    font-size: 30px;
    margin-left: 625px;
    text-decoration: none;
    letter-spacing: 20px;
}

.navbar-brand:hover {
    color: rgb(5, 11, 19);
}

.nav-link {
    color: rgb(8, 139, 247);
}

.navbar-nav li a {
    color: rgb(5, 11, 19);
    font-size: 20px;
}
/* göra likadant till de andra sidorna */
.navbar-nav li a:hover {
    border-bottom: 2px solid red;
}

.navbar-toggler {
    color: rgb(5, 11, 19);
}
.active {
    border-bottom: 4px solid rgb(5, 11, 19);
}

/* Hero img */

#hero-img {
    height: 1100px;
    width: 100%;
    background: url(../images/hero_img.png) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 1200px;
    width: 100%;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Hero-text */

#headline {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 385px;
    color: #000000;
    text-align: left;
}

#headline h2 {
    font-size: 40px;
    font-family: Source Sans Pro;
    
}

#headline p {
    color: #000000;
    text-align: left;

}

#headline button {
    background-color: rgb(5, 11, 19, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    
}

/* Reasons */
.reasons-container {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
}

.usp-container {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
}

/* Text mainpage */
#rig {
    max-width:900px;
    margin:0 auto; 
    padding:0;
    background-color:#ffffff;
}

#rig li {
    display: inline-block;
    display:inline;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
    margin-bottom: 100px;
}
        
/* The wrapper for each item */
.rig-cell {
    margin:10px;
    box-shadow:10px 5px 5px rgba(0,0,0,0.3);
    display: block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(19, 17, 5, 0.9); no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    font-size:24px;
    font-family: 'source sans pro';
    font-weight:lighter;
    top:40%;
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

/* Beach cards */

.container-cards {
    
    
}

.card {
   
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-family: source sans pro;
}



/* Footer */

#footer {
    background-color:rgb(5, 11, 19);
    color: #fff;
    border-top: 60px;
    border-bottom: 60px;
}

.social-links {
    text-align: center;
    margin-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-top: 20px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(252, 227, 5);
}

.copy {
    font-size: 12px;
    margin-bottom: 20px;
}


